body {
  font-family: sans-serif;
  margin: 0px;
  background-color: #000000;
  overflow: hidden;
  text-align: center;
}

input {
  width: 35px;
}

.c {
  display: inline-block;
  background-color: parent;
}

.l {
  background-color: #ffbbbb;
}

.r {
  background-color: #ddffbb;
}